/* inter-regular - cyrillic */
@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v3-cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v3-cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v3-cyrillic-regular.woff2") format("woff2"), url("../fonts/inter-v3-cyrillic-regular.woff") format("woff"), url("../fonts/inter-v3-cyrillic-regular.ttf") format("truetype"), url("../fonts/inter-v3-cyrillic-regular.svg#Inter") format("svg");
  /* Legacy iOS */
}

/* inter-500 - cyrillic */
@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v3-cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v3-cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v3-cyrillic-500.woff2") format("woff2"), url("../fonts/inter-v3-cyrillic-500.woff") format("woff"), url("../fonts/inter-v3-cyrillic-500.ttf") format("truetype"), url("../fonts/inter-v3-cyrillic-500.svg#Inter") format("svg");
  /* Legacy iOS */
}

/* inter-700 - cyrillic */
@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v3-cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v3-cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v3-cyrillic-700.woff2") format("woff2"), url("../fonts/inter-v3-cyrillic-700.woff") format("woff"), url("../fonts/inter-v3-cyrillic-700.ttf") format("truetype"), url("../fonts/inter-v3-cyrillic-700.svg#Inter") format("svg");
  /* Legacy iOS */
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Inter;
}

html,
body {
  height: 100%;
}

.container {
  display: grid;
  margin: 0 auto;
  width: 83.33vw;
}

.content {
  display: grid;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1180px;
  }
}

.work__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__slider .wrapper-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3.472vw;
}

.work__slider .wrapper-slider :last-child {
  margin-right: 0;
}

.work__slider .wrapper-slider :first-child {
  margin-left: 0;
}

.work__slider__item {
  margin-right: 2.36vw;
  margin-left: 2.36vw;
}

.work__slider__item img {
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  width: 10.65vw;
}

.work__slider__text {
  margin-top: 2.153vw;
  text-align: center;
  color: #4e5256;
  font-weight: 500;
  font-size: 1.25vw;
  color: #686C7C;
}

.work__slider .active {
  margin-left: 0;
  margin-right: 0;
}

.work__slider .active img {
  width: 13.54vw;
}

.work__slider .arrow {
  -ms-flex-item-align: center;
      align-self: center;
}

.work__slider .arrow img {
  width: 2.472vw;
}

.work__slider .arrow--left {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: 3.472vw;
}

.work__slider .arrow--right {
  margin-right: 3.472vw;
}

@media (min-width: 1440px) {
  .work__slider .wrapper-slider {
    margin-top: 50px;
  }
  .work__slider__item {
    margin: 0 33px;
  }
  .work__slider__item img {
    width: 153px;
  }
  .work__slider__text {
    margin-top: 31px;
    font-size: 18px;
  }
  .work__slider .active {
    margin: 0 33px;
  }
  .work__slider .active img {
    width: 194.58px;
  }
  .work__slider .arrow {
    cursor: pointer;
  }
  .work__slider .arrow--left {
    margin-left: 50px;
  }
  .work__slider .arrow--right {
    margin-right: 50px;
  }
}

.btn {
  max-height: 50px;
  background: #A06AF9;
  border-radius: 3.472vw;
  font-size: 0.972vw;
  color: #FFFFFF;
  font-weight: 500;
  border: none;
  padding: 1.25vw 1.6vw;
  cursor: pointer;
  text-decoration: none;
}

@media (min-width: 1440px) {
  .btn {
    border-radius: 50px;
    font-size: 14px;
    padding: 18px 24px;
  }
}

@media (max-width: 769px) {
  .btn {
    border-radius: 20px;
    font-size: 10px;
    padding: 12px 16px;
  }
}

.footer {
  padding: 6.5vw 0;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.footer__logo {
  grid-row: 1/2;
}

.footer__logo img {
  width: 8.264vw;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  grid-row: 1/2;
  grid-column: 5/7;
}

.footer__contacts img {
  width: 1.67vw;
}

.footer__contacts :last-child {
  margin-right: 0;
}

.footer__contacts :last-child img {
  width: 1.389vw;
}

.footer__link {
  margin-right: 2.08vw;
}

.footer__docs {
  margin-top: 2.85vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-row: 2/3;
  grid-column: 1/3;
}

.footer__docs :last-child {
  margin-right: 0;
}

.footer__doc {
  margin-right: 3.2vw;
}

.footer__doc a {
  color: #686C7C;
  font-weight: 500;
  font-size: 1.39vw;
  font-size: 0.972vw;
  text-decoration: none;
}

.footer__stores {
  margin-top: 1.81vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  grid-row: 2/3;
  grid-column: 5/7;
}

.footer__stores img {
  width: 9.375vw;
}

.footer__stores :last-child {
  margin-right: 0;
}

.footer__store {
  margin-right: 0.694vw;
}

@media (min-width: 1440px) {
  .footer {
    padding: 94px 0;
  }
  .footer__logo img {
    width: 119px;
  }
  .footer__link {
    margin-right: 30px;
  }
  .footer__link :last-child img {
    width: 24px;
  }
  .footer__docs {
    margin-top: 41px;
  }
  .footer__doc {
    margin-right: 46px;
  }
  .footer__doc a {
    font-size: 14px;
  }
  .footer__stores {
    margin-top: 26px;
  }
  .footer__stores :last-child img {
    width: 120px;
  }
  .footer__store {
    margin-right: 10px;
  }
  .footer__store img {
    width: 135px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 50px 0;
  }
  .footer__logo img {
    width: 100%;
  }
  .footer__link {
    margin-right: 20px;
  }
  .footer__link :last-child img {
    width: 100%;
  }
  .footer__docs {
    margin-top: 10px;
  }
  .footer__doc {
    margin-right: 10px;
  }
  .footer__doc a {
    font-size: 7px;
  }
  .footer__stores {
    margin-top: 15px;
  }
  .footer__stores :last-child img {
    width: 100%;
  }
  .footer__store {
    margin-right: 10px;
  }
  .footer__store img {
    width: 100%;
  }
}

@media (max-width: 577px) {
  .footer {
    padding: 30px 0;
  }
  .footer__docs {
    grid-column: 1/4;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__doc {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10px;
  }
  .footer__doc a {
    width: 100%;
    font-size: 5px;
  }
  .footer__stores {
    margin-top: 15px;
  }
  .footer__stores :last-child img {
    width: 100%;
  }
  .footer__store {
    margin-right: 10px;
  }
  .footer__store img {
    width: 100%;
  }
}

.header {
  height: 7.97vw;
  width: 100%;
  max-height: 115px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.header__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header--left img {
  width: 8.264vw;
}

.header--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .menu-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header .menu-list :last-child {
  margin-right: 0;
}

.header .menu-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 9.03vw;
}

.header .menu-list__item a {
  text-decoration: none;
  color: #4e5256;
  font-weight: 500;
  font-size: 1.25vw;
}

.header .menu-list__item :hover {
  color: #000;
  font-weight: bold;
}

.header .menu-list .text a {
  color: #000;
  font-weight: bold;
}

@media (min-width: 1440px) {
  .header--left img {
    width: 119px;
  }
  .header .menu-list__item {
    margin-right: 130px;
  }
  .header .menu-list__item a {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 769px) {
  .header {
    padding: 30px 0;
  }
  .header--left img {
    width: 110px;
  }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 1.39vw 1.042;
    background-color: #CEBAF0;
    -webkit-transition: 0.6s all;
    -o-transition: 0.6s all;
    transition: 0.6s all;
    z-index: 1;
    border-radius: 0 4% 4% 0;
  }
  .header .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .menu-list :nth-child(1) {
    margin: 0;
    margin-top: 15px;
  }
  .header .menu-list :nth-child(2) {
    margin: 0;
    margin-top: 15px;
  }
  .header .menu-list__item {
    margin-top: 15px;
  }
  .header .menu-list__item a {
    font-size: 18px;
  }
  .header .menu_active {
    left: 0;
  }
  .header .hamburger {
    margin-top: 40px;
    display: block;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 25px;
    height: 25px;
    z-index: 2;
  }
  .header .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #8B89FC;
    margin-bottom: 3px;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
  }
  .header .hamburger_active {
    position: fixed;
    left: 40%;
    z-index: 2;
  }
  .header .hamburger_active span {
    background-color: #fff;
    margin-bottom: -2px;
  }
  .header .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
        -ms-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .header .hamburger_active span:nth-child(2) {
    display: none;
  }
  .header .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
        -ms-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
}

@media (max-width: 576px) {
  .header {
    padding: 30px 0;
  }
  .header--left img {
    width: 100%;
  }
  .header .menu {
    height: 100%;
    width: 50%;
  }
  .header .menu-list :nth-child(1) {
    margin-top: 13px;
  }
  .header .menu-list :nth-child(2) {
    margin-top: 13px;
  }
  .header .menu-list__item {
    margin-top: 13px;
  }
  .header .menu-list__item a {
    font-size: 14px;
  }
}

.communication {
  padding-top: 10.42vw;
}

.communication__header {
  color: black;
  font-weight: bold;
  font-size: 4.243vw;
  line-height: 5.07vw;
  margin-bottom: 3.82vw;
}

.communication__text {
  color: #686C7C;
  font-weight: 500;
  font-size: 1.39vw;
  font-size: 3.06vw;
}

.communication__text input {
  display: inline;
  border: none;
  opacity: 0.3;
  font-size: 3.06vw;
  text-decoration: underline;
}

.communication__text--name input {
  width: 13.96vw;
}

.communication__text--email {
  margin-top: 2.08vw;
}

.communication__text--email input {
  width: 18.06vw;
}

.communication__text--onFocus input {
  width: 100%;
}

.communication__btn {
  margin-top: 2.78vw;
  color: #246BFD;
  font-weight: bold;
  font-size: 1.875vw;
  border: none;
  border-bottom: 3px solid #246BFD;
  background-color: #fff;
  cursor: pointer;
}

@media (min-width: 1440px) {
  .communication {
    padding-top: 150px;
  }
  .communication__header {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 55px;
  }
  .communication__text {
    font-size: 44px;
  }
  .communication__text input {
    font-size: 44px;
  }
  .communication__text--name input {
    width: 201px;
  }
  .communication__text--email {
    margin-top: 30px;
  }
  .communication__text--email input {
    width: 260px;
  }
  .communication__text--onFocus input {
    width: 100%;
  }
  .communication__btn {
    margin-top: 40px;
    font-size: 27px;
  }
}

@media (max-width: 567px) {
  .communication {
    padding-top: 50px;
  }
  .communication__header {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 15px;
    width: 60vw;
  }
  .communication__text {
    font-size: 12px;
  }
  .communication__text input {
    font-size: 12px;
  }
  .communication__text--email {
    margin-top: 10px;
  }
  .communication__btn {
    margin-top: 15px;
    font-size: 13px;
    border-bottom-width: 1px;
  }
}

.wrapper-slider-tablet {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-slider-tablet .tablet__slider__item {
  margin-top: 15px;
}

.wrapper-slider-tablet .tablet__slider__item img {
  width: auto;
}

.wrapper-slider-tablet .tablet__slider__text {
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
}

.btn {
  background: #F08FA9;
}

.promo__container {
  height: 100%;
  display: grid;
  grid-template: "left right" 1fr/5fr 7fr;
}

.promo--left {
  grid-area: left;
}

.promo__header {
  color: black;
  font-weight: bold;
  font-size: 4.243vw;
  line-height: 5.07vw;
  margin-top: 21.736vw;
}

.promo__link {
  display: block;
  margin-top: 3.056vw;
  font-weight: bold;
  font-size: 1.53vw;
  line-height: 1.875vw;
  color: #F08FA9;
  cursor: pointer;
}

.promo--right {
  width: 50.833vw;
  height: 55.21vw;
  grid-area: right;
  background: url("../image/business/promo.png") center center/cover no-repeat;
}

.schedule {
  padding-top: 6.94vw;
}

.schedule__header {
  color: black;
  font-weight: bold;
  font-size: 4.243vw;
  line-height: 5.07vw;
}

.schedule__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.schedule__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.schedule__item__img img {
  width: 29.86vw;
}

.schedule__item__descr {
  color: #686C7C;
  font-weight: 500;
  font-size: 1.39vw;
  width: 35.625vw;
  margin-right: 15.76vw;
}

.work__header {
  color: black;
  font-weight: bold;
  font-size: 4.243vw;
  line-height: 5.07vw;
}

.work .wrapper-slider-tablet {
  display: none;
}

.choose__header {
  margin-top: 6.94vw;
  margin-bottom: 6vw;
  color: black;
  font-weight: bold;
  font-size: 4.243vw;
  line-height: 5.07vw;
}

.choose__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.choose__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 3.75vw;
}

.choose__item--reverse {
  margin-right: 3.75vw;
  margin-left: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.choose__item--right {
  margin-right: 0;
}

.choose__item__img img {
  width: 30.6vw;
}

.choose__item__img--width img {
  width: 15.625vw;
}

.choose__item__descr {
  color: #686C7C;
  font-weight: 500;
  font-size: 1.39vw;
  width: 35.625vw;
  margin-left: 6.94vw;
}

.choose__item__descr--reverse {
  margin-left: 0;
  margin-right: 6.94vw;
}

.choose__item__descr--width {
  width: 37.71vw;
}

.price {
  padding-top: 6.94vw;
}

.price__header {
  color: black;
  font-weight: bold;
  font-size: 4.243vw;
  line-height: 5.07vw;
}

.price__text {
  color: #686C7C;
  font-weight: 500;
  font-size: 1.39vw;
}

.price__text p {
  margin: 1.39vw 0 0 0;
}

.price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price-wrapper :last-child {
  margin-right: 0;
}

.price__item {
  margin: 5vw 9.03vw 0 0;
}

.price__item__header {
  color: #686C7C;
  font-weight: 500;
  font-size: 1.39vw;
  color: #000;
  margin: 0 0 2.43vw 0;
}

.price__item__header span {
  font-size: 2.8vw;
  font-weight: bold;
}

.price__item__list {
  list-style: none;
  color: #686C7C;
  font-weight: 500;
  font-size: 1.39vw;
}

.price__item__list .ref {
  display: block;
  width: 18.83vw;
  font-size: 1.042vw;
}

.price__item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.7vw 0 0 0;
}

.price__item__link .dot {
  margin-right: 0.5vw;
  width: 0.47vw;
  height: 0.47vw;
  background: #686C7C;
  border-radius: 100%;
}

.price__subheader {
  margin: 2.083vw 0 0 0;
  color: black;
  font-weight: bold;
  font-size: 4.243vw;
  line-height: 5.07vw;
  font-size: 2.083vw;
}

.price__wrap {
  margin: 2.083vw 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price__wrap :last-child {
  margin-right: 0;
}

.price__app {
  margin-right: 7.43vw;
}

.price__app__descr {
  color: #686C7C;
  font-weight: 500;
  font-size: 1.39vw;
}

.price__app__price {
  margin-top: 0.694vw;
  color: #686C7C;
  font-weight: 500;
  font-size: 1.39vw;
  color: #000;
}

.price__app__price span {
  font-size: 2.8vw;
  font-weight: bold;
}

.communication {
  padding-top: 6.94vw;
}

@media (min-width: 1440px) {
  .promo__header {
    font-size: 60px;
    line-height: 60px;
    margin-top: 315px;
  }
  .promo__link {
    margin-top: 44px;
    font-size: 22px;
    line-height: 27px;
  }
  .promo--right {
    width: 731.53px;
    height: 784px;
  }
  .schedule {
    padding-top: 100px;
  }
  .schedule__header {
    font-size: 60px;
    line-height: 60px;
  }
  .schedule__item__img img {
    width: 430.5px;
  }
  .schedule__item__descr {
    font-size: 20px;
    line-height: 24px;
    width: 448px;
    margin-right: 227px;
  }
  .work__header {
    font-size: 60px;
    line-height: 60px;
  }
  .choose__header {
    margin: 100px 0 87px;
    font-size: 60px;
  }
  .choose__item {
    margin-left: 54px;
  }
  .choose__item--reverse {
    margin-right: 54px;
  }
  .choose__item__img img {
    width: 440px;
  }
  .choose__item__img--width img {
    width: 225px;
  }
  .choose__item__descr {
    font-size: 20px;
    line-height: 24px;
    width: 513px;
    margin-left: 100px;
  }
  .choose__item__descr--reverse {
    margin-right: 100px;
  }
  .choose__item__descr--width {
    width: 543px;
  }
  .price {
    padding-top: 100px;
  }
  .price__header {
    font-size: 60px;
    line-height: 60px;
  }
  .price__text {
    font-size: 20px;
    line-height: 24px;
  }
  .price__text p {
    margin: 20px 0 0 0;
  }
  .price__item {
    margin: 72px 130px 0 0;
  }
  .price__item__header {
    font-size: 19.596px;
    line-height: 24px;
    margin: 0 0 35px 0;
  }
  .price__item__header span {
    font-size: 60px;
    line-height: 60px;
  }
  .price__item__list {
    font-size: 22px;
  }
  .price__item__list .ref {
    width: 271px;
    font-size: 15px;
  }
  .price__item__link {
    margin: 10px 0 0 0;
  }
  .price__item__link .dot {
    margin-right: 7.2px;
    width: 7px;
    height: 7px;
  }
  .price__subheader {
    margin: 30px 0 0 0;
    font-size: 30px;
    line-height: 30px;
  }
  .price__wrap {
    margin: 30px 0 0 0;
  }
  .price__app {
    margin-right: 107px;
  }
  .price__app__descr {
    font-size: 20px;
    line-height: 24px;
  }
  .price__app__price {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
  .price__app__price span {
    font-size: 40px;
    line-height: 48px;
  }
  .communication {
    padding-top: 100px;
  }
}

@media (max-width: 767px) {
  .header .menu {
    background-color: #faafc3;
  }
  .header .menu-list__item a {
    color: #fff;
  }
  .header .hamburger span {
    background-color: #faafc3;
  }
  .header .hamburger_active span {
    background-color: #fff;
  }
  .promo__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promo__header {
    font-size: 25px;
    line-height: 25px;
    margin-top: 0;
  }
  .promo__link {
    margin-top: 20px;
    font-size: 18px;
    line-height: 18px;
  }
  .promo--right {
    max-width: 600px;
    max-height: 500px;
  }
  .schedule {
    padding-top: 50px;
  }
  .schedule__header {
    font-size: 25px;
    line-height: 25px;
  }
  .schedule__item__img img {
    width: 100%;
  }
  .schedule__item__descr {
    font-size: 15px;
    line-height: 18px;
    width: 100%;
    margin-right: 20px;
  }
  .work {
    padding-top: 50px;
  }
  .work__header {
    font-size: 25px;
    line-height: 25px;
  }
  .work__slider {
    display: none;
  }
  .work .wrapper-slider-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .choose__header {
    margin: 50px 0 30px;
    font-size: 25px;
    line-height: 25px;
  }
  .choose__item {
    margin-left: 0;
  }
  .choose__item--reverse {
    margin-right: 0;
  }
  .choose__item__img img {
    width: 100%;
  }
  .choose__item__img--width img {
    width: 90%;
  }
  .choose__item__descr {
    font-size: 12px;
    line-height: 15px;
    width: 100%;
    margin-left: 20px;
  }
  .choose__item__descr--reverse {
    margin-left: 0;
    margin-right: 20px;
  }
  .price {
    padding-top: 100px;
  }
  .price__header {
    font-size: 25px;
    line-height: 25px;
  }
  .price__text {
    font-size: 16px;
    line-height: 18px;
  }
  .price__text p {
    margin: 10px 0 0 0;
  }
  .price__item {
    margin: 35px 50px 0 0;
  }
  .price__item__header {
    font-size: 15px;
    line-height: 24px;
    margin: 0 0 15px 0;
  }
  .price__item__header span {
    font-size: 25px;
    line-height: 25px;
  }
  .price__item__list {
    font-size: 12px;
  }
  .price__item__list .ref {
    font-size: 7px;
  }
  .price__item__link {
    margin: 5px 0 0 0;
  }
  .price__subheader {
    margin: 30px 0 0 0;
    font-size: 20px;
    line-height: 20px;
  }
  .price__wrap {
    margin: 20px 0 0 0;
  }
  .price__app {
    margin-right: 60px;
  }
  .price__app__descr {
    font-size: 15px;
    line-height: 15px;
  }
  .price__app__price {
    margin-top: 10px;
    font-size: 15px;
    line-height: 15px;
  }
  .price__app__price span {
    font-size: 25px;
    line-height: 25px;
  }
}

@media (max-width: 577px) {
  .promo__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .promo__header {
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
  }
  .promo__link {
    margin-top: 20px;
    font-size: 16px;
    line-height: 16px;
  }
  .promo--right {
    position: relative;
    left: 30%;
  }
  .schedule {
    padding-top: 0;
  }
  .schedule__header {
    font-size: 20px;
    line-height: 20px;
  }
  .schedule__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .schedule__item__img {
    margin-top: 10px;
    width: 50%;
  }
  .schedule__item__img img {
    width: 100%;
  }
  .schedule__item__descr {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    line-height: 15px;
    margin-right: 0;
  }
  .work {
    padding-top: 30px;
  }
  .work__header {
    font-size: 20px;
    line-height: 20px;
  }
  .choose__header {
    margin: 30px 0 20px;
    font-size: 20px;
    line-height: 20px;
  }
  .choose__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .choose__item__img {
    width: 50%;
  }
  .choose__item__img img {
    width: 100%;
  }
  .choose__item__img--width {
    text-align: center;
  }
  .choose__item__img--width img {
    width: 60%;
  }
  .choose__item__descr {
    margin-top: 15px;
    width: 80%;
    text-align: center;
    margin-left: 0;
  }
  .choose__item__descr--reverse {
    margin-left: 0;
    margin-right: 20px;
  }
  .price {
    padding-top: 50px;
  }
  .price__header {
    font-size: 20px;
    line-height: 20px;
  }
  .price__text {
    font-size: 12px;
    line-height: 16px;
  }
  .price__text p {
    margin: 5px 0 0 0;
  }
  .price__item {
    margin: 20px 20px 0 0;
  }
  .price__item__header {
    font-size: 9px;
    line-height: 9px;
    margin: 0 0 7px 0;
  }
  .price__item__header span {
    font-size: 19px;
    line-height: 19px;
  }
  .price__item__list {
    font-size: 10px;
  }
  .price__item__list .ref {
    display: none;
  }
  .price__subheader {
    margin: 30px 0 0 0;
    font-size: 17px;
    line-height: 20px;
  }
  .price__wrap {
    margin: 15px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .price__app {
    margin-right: 30px;
  }
  .price__app__descr {
    text-align: center;
    font-size: 12px;
    line-height: 12px;
  }
  .price__app__price {
    text-align: center;
    margin-top: 10px;
    font-size: 9px;
    line-height: 9px;
  }
  .price__app__price span {
    font-size: 19px;
    line-height: 19px;
  }
}
