* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Inter;
    text-align: left;
}

html, body {
    position: relative;
    height: 100%;
    background: white;
}

body {
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.display-none {
    display: none;
}

.center-content {
    margin-top: auto;
    margin-bottom: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}