.header {
    position: fixed;
    top: unset;
    height: 80px;
    width: 100%;
    align-self: flex-end;
    width: 100%;
    z-index: 99999;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: saturate(180%) blur(9px);
    -webkit-backdrop-filter: saturate(180%) blur(9px);
    -ms-flex-item-align: end;
}

.header--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.header__container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header--left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header .menu-list {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .menu-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 9.03vw;
}

.header .menu-list__item a {
    text-decoration: none;
    color: #4e5256;
    font-weight: 500;
    font-size: 18px;
}