/* inter-regular - cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v3-cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v3-cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v3-cyrillic-regular.woff2") format("woff2"), url("../fonts/inter-v3-cyrillic-regular.woff") format("woff"), url("../fonts/inter-v3-cyrillic-regular.ttf") format("truetype"), url("../fonts/inter-v3-cyrillic-regular.svg#Inter") format("svg");
  /* Legacy iOS */
}

/* inter-500 - cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v3-cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v3-cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v3-cyrillic-500.woff2") format("woff2"), url("../fonts/inter-v3-cyrillic-500.woff") format("woff"), url("../fonts/inter-v3-cyrillic-500.ttf") format("truetype"), url("../fonts/inter-v3-cyrillic-500.svg#Inter") format("svg");
  /* Legacy iOS */
}

/* inter-700 - cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v3-cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v3-cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v3-cyrillic-700.woff2") format("woff2"), url("../fonts/inter-v3-cyrillic-700.woff") format("woff"), url("../fonts/inter-v3-cyrillic-700.ttf") format("truetype"), url("../fonts/inter-v3-cyrillic-700.svg#Inter") format("svg");
  /* Legacy iOS */
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Inter;
}

html,
body {
  height: 100%;
}

.container {
  display: grid;
  margin: 0 auto;
  width: 83.33vw;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7.99vw 1fr 15.347vw;
  grid-template-areas: "header" "content" "footer";
}

.content {
  display: grid;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1180px;
  }
  .wrapper {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 115px 1fr 220px;
    grid-template-areas: "header" "content" "footer";
  }
}

.btn {
  max-height: 50px;
  background: #A06AF9;
  border-radius: 3.472vw;
  font-size: 0.972vw;
  color: #FFFFFF;
  font-weight: 500;
  border: none;
  padding: 1.25vw 1.6vw;
  cursor: pointer;
}

@media (min-width: 1440px) {
  .btn {
    border-radius: 50px;
    font-size: 14px;
    padding: 18px 24px;
  }
}

.footer {
  padding: 12.5vw 0;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.footer__logo {
  width: 8.264vw;
  grid-row: 1/2;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  grid-row: 1/2;
  grid-column: 5/7;
}

.footer__contacts img {
  width: 1.67vw;
}

.footer__contacts :last-child {
  margin-right: 0;
}

.footer__contacts :last-child img {
  width: 1.389vw;
}

.footer__link {
  margin-right: 2.08vw;
}

.footer__docs {
  margin-top: 2.85vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-row: 2/3;
  grid-column: 1/3;
}

.footer__docs :last-child {
  margin-right: 0;
}

.footer__doc {
  margin-right: 3.2vw;
}

.footer__doc a {
  color: #686C7C;
  font-weight: 500;
  font-size: 1.39vw;
  font-size: 0.972vw;
  text-decoration: none;
}

.footer__stores {
  margin-top: 1.81vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  grid-row: 2/3;
  grid-column: 5/7;
}

.footer__stores img {
  width: 9.375vw;
}

.footer__stores :last-child {
  margin-right: 0;
}

.footer__store {
  margin-right: 0.694vw;
}

@media (min-width: 1440px) {
  .footer {
    padding: 180px 0;
  }
  .footer__logo {
    width: 119px;
  }
  .footer__contacts img {
    width: 24px;
  }
  .footer__link {
    margin-right: 30px;
  }
  .footer__docs {
    margin-top: 41px;
  }
  .footer__doc {
    margin-right: 46px;
  }
  .footer__doc a {
    font-size: 14px;
  }
  .footer__stores {
    margin-top: 26px;
  }
  .footer__stores :last-child img {
    width: 120px;
  }
  .footer__store {
    margin-right: 10px;
  }
  .footer__store img {
    width: 135px;
  }
}

.header {
  max-height: 115px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.header__container {
  display: grid;
  grid-template: "left right" 1fr/1fr 1fr;
}

.header--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-area: left;
}

.header--left img {
  width: 8.264vw;
}

.header--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  grid-area: right;
}

.header .menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header .menu-list :first-child {
  margin: 0;
}

.header .menu-list__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 9.03vw;
}

.header .menu-list__item a {
  text-decoration: none;
  color: #4e5256;
  font-weight: 500;
  font-size: 1.25vw;
}

@media (min-width: 1440px) {
  .header--left img {
    width: 119px;
  }
  .header .menu-list__item {
    margin-left: 130px;
  }
  .header .menu-list__item a {
    font-size: 18px;
    line-height: 22px;
  }
}

.work__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__slider .wrapper-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3.472vw;
}

.work__slider .wrapper-slider :last-child {
  margin-right: 0;
}

.work__slider .wrapper-slider :first-child {
  margin-left: 0;
}

.work__slider__item {
  margin-right: 2.36vw;
  margin-left: 2.36vw;
}

.work__slider__item img {
  width: 100%;
}

.work__slider__text {
  margin-top: 2.153vw;
  text-align: center;
  color: #4e5256;
  font-weight: 500;
  font-size: 1.25vw;
  color: #686C7C;
}

.work__slider .active {
  margin-left: 0;
  margin-right: 0;
}

.work__slider .active img {
  width: 120%;
}

.work__slider .arrow {
  -ms-flex-item-align: center;
      align-self: center;
}

.work__slider .arrow--left {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: 3.472vw;
}

.work__slider .arrow--right {
  margin-right: 3.472vw;
}

@media (min-width: 1440px) {
  .work__slider .wrapper-slider {
    margin-top: 50px;
  }
  .work__slider__item {
    margin: 0 33px;
  }
  .work__slider__text {
    margin-top: 31px;
    font-size: 18px;
  }
  .work__slider .active {
    margin: 0 33px;
  }
  .work__slider .active img {
    width: 194.58px;
  }
  .work__slider .arrow--left {
    margin-left: 50px;
  }
  .work__slider .arrow--right {
    margin-right: 50px;
  }
}

.communication {
  padding-top: 10.42vw;
}

.communication__header {
  color: black;
  font-weight: bold;
  font-size: 4.243vw;
  line-height: 5.07vw;
  margin-bottom: 3.82vw;
}

.communication__text {
  color: #686C7C;
  font-weight: 500;
  font-size: 1.39vw;
  font-size: 3.06vw;
}

.communication__text input {
  display: inline;
  border: none;
  opacity: 0.3;
  font-size: 3.06vw;
  text-decoration: underline;
}

.communication__text--name input {
  width: 13.96vw;
}

.communication__text--email {
  margin-top: 2.08vw;
}

.communication__text--email input {
  width: 18.06vw;
}

.communication__text--onFocus input {
  width: 100%;
}

.communication__btn {
  margin-top: 2.78vw;
  color: #246BFD;
  font-weight: bold;
  font-size: 1.875vw;
  border: none;
  border-bottom: 3px solid #246BFD;
  background-color: #fff;
  cursor: pointer;
}

@media (min-width: 1440px) {
  .communication {
    padding-top: 150px;
  }
  .communication__header {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 55px;
  }
  .communication__text {
    font-size: 44px;
  }
  .communication__text input {
    font-size: 44px;
  }
  .communication__text--name input {
    width: 201px;
  }
  .communication__text--email {
    margin-top: 30px;
  }
  .communication__text--email input {
    width: 260px;
  }
  .communication__text--onFocus input {
    width: 100%;
  }
  .communication__btn {
    margin-top: 40px;
    font-size: 27px;
  }
}

.promo__container {
  height: 100%;
  display: grid;
  grid-template: "left right" 1fr/5fr 7fr;
}

.promo--left {
  grid-area: left;
}

.promo__header {
  color: black;
  font-weight: bold;
  font-size: 4.243vw;
  line-height: 5.07vw;
  margin-top: 21.736vw;
}

.promo__link {
  display: block;
  margin-top: 3.056vw;
  font-weight: bold;
  font-size: 1.53vw;
  line-height: 1.875vw;
  color: #A06AF9;
  cursor: pointer;
}

.promo--right {
  width: 50.833vw;
  height: 55.21vw;
  grid-area: right;
  background: url("../image/promo1.png") center center/cover no-repeat;
}

.work__header {
  color: black;
  font-weight: bold;
  font-size: 4.243vw;
  line-height: 5.07vw;
}

.work__text {
  margin-top: 2.36vw;
  color: #686C7C;
  font-size: 1.389vw;
  line-height: 1.667vw;
}

.payment {
  padding-top: 6.94vw;
}

.payment__header {
  color: black;
  font-weight: bold;
  font-size: 4.243vw;
  line-height: 5.07vw;
}

.payment__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.payment__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 3.75vw;
}

.payment__item--one {
  margin-top: 6.94vw;
}

.payment__item--reverse {
  margin-right: 3.75vw;
  margin-left: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.payment__item--right {
  margin-right: 0;
}

.payment__item__img img {
  width: 15.625vw;
}

.payment__item__img--width img {
  width: 29.896vw;
}

.payment__item__descr {
  color: #686C7C;
  font-weight: 500;
  font-size: 1.39vw;
  width: 35.625vw;
  margin-left: 6.94vw;
}

.payment__item__descr--reverse {
  margin-left: 0;
  margin-right: 6.94vw;
}

.payment__item__descr--width {
  width: 37.71vw;
}

.search__container {
  display: grid;
  grid-template: 1fr/repeat(4, 1fr);
}

.search__header {
  grid-row: 1/2;
  grid-column: 1/3;
  color: black;
  font-weight: bold;
  font-size: 4.243vw;
  line-height: 5.07vw;
  margin-bottom: 6.944vw;
}

.search__img {
  justify-self: center;
  grid-row: 2/3;
}

.search__img img {
  width: 15.625vw;
}

.search__img--width img {
  width: 13.737vw;
}

.search__descr {
  justify-self: center;
  grid-row: 3/4;
  grid-column: 2/4;
  color: #686C7C;
  font-weight: 500;
  font-size: 1.39vw;
  width: 35.625vw;
  text-align: center;
}

.functions {
  padding-top: 9.375vw;
}

.functions__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.functions__header {
  color: black;
  font-weight: bold;
  font-size: 4.243vw;
  line-height: 5.07vw;
  margin-bottom: 6.597vw;
}

.functions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.functions__numb {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
  font-style: italic;
  font-weight: bold;
  font-size: 6.944vw;
  line-height: 6.944vw;
  color: rgba(104, 108, 124, 0.3);
}

.functions__img {
  margin-top: 3.472vw;
  margin-left: 3.472vw;
}

.functions__img img {
  width: 15.625vw;
}

.functions__img--width {
  margin-top: 0;
  margin-left: 4.6vw;
}

.functions__img--width img {
  width: 30.903vw;
}

.functions__text {
  margin-left: 6.944vw;
  color: #686C7C;
  font-weight: 500;
  font-size: 1.39vw;
  width: 37.71vw;
}

.plan {
  padding-top: 9.375vw;
}

.plan__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.plan__header {
  color: black;
  font-weight: bold;
  font-size: 4.243vw;
  line-height: 5.07vw;
  margin-bottom: 10.07vw;
}

.plan__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.plan__line {
  width: 19.653vw;
  height: 0.278vw;
}

.plan__line--dotted {
  width: 14.79vw;
  height: 0;
  border-bottom: 0.278vw dotted #A06AF9;
}

.plan__line--one {
  background: -webkit-gradient(linear, left top, right top, color-stop(1.87%, #A06AF9), color-stop(90.07%, #8B87FB));
  background: -o-linear-gradient(left, #A06AF9 1.87%, #8B87FB 90.07%);
  background: linear-gradient(90deg, #A06AF9 1.87%, #8B87FB 90.07%);
}

.plan__line--two {
  background: -webkit-gradient(linear, left top, right top, color-stop(1.87%, #8989FB), color-stop(90.07%, #74A7FD));
  background: -o-linear-gradient(left, #8989FB 1.87%, #74A7FD 90.07%);
  background: linear-gradient(90deg, #8989FB 1.87%, #74A7FD 90.07%);
}

.plan__line--three {
  width: 17.22vw;
  background: -webkit-gradient(linear, left top, right top, color-stop(1.87%, #72A9FD), color-stop(90.07%, #60C3FF));
  background: -o-linear-gradient(left, #72A9FD 1.87%, #60C3FF 90.07%);
  background: linear-gradient(90deg, #72A9FD 1.87%, #60C3FF 90.07%);
}

.plan__line--four {
  width: 6.32vw;
  background: -webkit-gradient(linear, left top, right top, color-stop(1.87%, #5FC5FF), color-stop(90.07%, #5FC5FF));
  background: -o-linear-gradient(left, #5FC5FF 1.87%, #5FC5FF 90.07%);
  background: linear-gradient(90deg, #5FC5FF 1.87%, #5FC5FF 90.07%);
}

.plan__round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1.25vw;
  height: 1.25vw;
  background: #F1F2F2;
  border-radius: 100%;
}

.plan__round--one {
  border: 0.208vw solid #A16BFA;
}

.plan__round--two {
  border: 0.208vw solid #8B89FC;
}

.plan__round--three {
  border: 0.208vw solid #74AAFE;
}

.plan__round--four {
  border: 0.208vw solid #60C6FF;
}

.plan__round .plan__round {
  width: 0.278vw;
  height: 0.278vw;
  border-radius: 100%;
  border: none;
}

.plan__round .plan__round--one {
  background-color: #A16BFA;
}

.plan__round .plan__round--two {
  background-color: #8B89FC;
}

.plan__round .plan__round--three {
  background-color: #74AAFE;
}

.plan__round .plan__round--four {
  background-color: #60C6FF;
}

.plan__text {
  margin-top: 1.39vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.plan__text :first-child {
  margin-left: 6.736vw;
}

.plan__text :last-child {
  margin-right: 0;
}

.plan__descr {
  color: #686C7C;
  font-weight: 500;
  font-size: 1.39vw;
  text-align: center;
  margin-right: 6.25vw;
}

@media (min-width: 1440px) {
  .promo__header {
    font-size: 60px;
    margin-top: 313px;
    line-height: 60px;
  }
  .promo__link {
    margin-top: 44px;
    font-size: 22px;
    line-height: 27px;
  }
  .promo--right {
    width: 731.53px;
    height: 795px;
  }
  .work__header {
    font-size: 60px;
    line-height: 60px;
  }
  .work__text {
    margin-top: 34px;
    font-size: 20px;
    line-height: 24px;
  }
  .payment {
    padding-top: 100px;
  }
  .payment__header {
    font-size: 60px;
    line-height: 60px;
  }
  .payment__item {
    margin-left: 54px;
  }
  .payment__item--one {
    margin-top: 100px;
  }
  .payment__item--reverse {
    margin-right: 54px;
  }
  .payment__item__img img {
    width: 225px;
  }
  .payment__item__img--width img {
    width: 430px;
  }
  .payment__item__descr {
    font-size: 20px;
    line-height: 24px;
    width: 513px;
    margin-left: 100px;
  }
  .payment__item__descr--reverse {
    margin-right: 100px;
  }
  .payment__item__descr--width {
    width: 543px;
  }
  .search__header {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 100px;
  }
  .search__img img {
    width: 225px;
  }
  .search__img--width img {
    width: 197.81px;
  }
  .search__descr {
    font-size: 20px;
    line-height: 24px;
    width: 513px;
    text-align: center;
  }
  .functions {
    padding-top: 9.375vw;
  }
  .functions__header {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 94px;
  }
  .functions__numb {
    font-size: 100px;
    line-height: 100px;
  }
  .functions__img {
    margin: 50px 0 0 50px;
  }
  .functions__img img {
    width: 225px;
  }
  .functions__img--width {
    margin-left: 66px;
  }
  .functions__img--width img {
    width: 445px;
  }
  .functions__text {
    margin-left: 100px;
    font-size: 20px;
    line-height: 24px;
    width: 543px;
  }
  .plan {
    padding-top: 135px;
  }
  .plan__header {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 140px;
  }
  .plan__line {
    width: 283px;
    height: 4;
  }
  .plan__line--dotted {
    width: 213px;
    border-bottom: 4px dotted #A06AF9;
  }
  .plan__line--three {
    width: 247px;
  }
  .plan__line--four {
    width: 91px;
  }
  .plan__round {
    width: 18px;
    height: 18px;
    border: 3px;
  }
  .plan__round--one {
    border: solid #A16BFA;
  }
  .plan__round--two {
    border: solid #8B89FC;
  }
  .plan__round--three {
    border: solid #74AAFE;
  }
  .plan__round--four {
    border: solid #60C6FF;
  }
  .plan__round .plan__round {
    width: 4px;
    height: 4px;
  }
  .plan__text {
    margin-top: 20px;
  }
  .plan__text :first-child {
    margin-left: 100px;
  }
  .plan__descr {
    font-size: 20px;
    line-height: 24px;
    margin-right: 90px;
  }
}
