.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-button-next1, .swiper-button-prev1 {
    display: none !important;
}
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    transition: 0.4s ease;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
}