* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

html,
body {
    height: 100%;
}

.container {
    display: grid;
    margin: 0 auto;
    width: 83.33vw;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7.99vw 1fr 15.347vw;
    grid-template-areas:
        "header"
        "content"
        "footer";
}

.header {
    max-height: 115px;
    align-self: flex-end;

    &__container {
        display: grid;
        grid-template: "left right"1fr / 1fr 1fr;
    }


    &--left {
        display: flex;
        grid-area: left;

        img {
            width: 100%;
        }
    }

    &--right {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        grid-area: right;
    }

    .menu {
        &-list {
            margin: 0;
            padding: 0;
            list-style: none;

            :first-child {
                margin: 0;
            }

            &__item {
                display: inline-flex;
                margin-left: 9.03vw;

                a {
                    text-decoration: none;
                    @include navItem;
                }
            }
        }

    }

    .btn {
        max-height: 50px;
        background: #A06AF9;
        border-radius: 3.472vw;
        font-size: 0.972vw;
        color: #FFFFFF;
        font-weight: 500;
        border: none;
        padding: 1.25vw 1.6vw;
        cursor: pointer;
    }

}

.content {
    display: grid;
}

.promo {
    &__container {
        height: 100%;
        display: grid;
        grid-template: 'left right'1fr / 5fr 7fr;
    }

    &--left {
        grid-area: left;
    }

    &__header {
        @include title;
        margin-top: 21.736vw;
    }

    &__link {
        display: block;
        margin-top: 3.056vw;
        font-weight: bold;
        font-size: 1.53vw;
        line-height: 1.875vw;
        color: #A06AF9;
        cursor: pointer;
    }

    &--right {
        width: 50.833vw;
        height: 55.21vw;
        grid-area: right;
        background: url('../image/promo1.png') center center/cover no-repeat;

    }
}

.work {

    &__header {
        @include title;
    }

    &__text {
        margin-top: 2.36vw;
        color: #686C7C;
        font-size: 1.389vw;
        line-height: 1.667vw;
    }

    &__slider {
        display: flex;

        .wrapper-slider {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 3.472vw;

            :last-child {
                margin-right: 0;
            }

            :first-child {
                margin-left: 0;
            }
        }

        &__item {
            margin-right: 2.36vw;
            margin-left: 2.36vw;

            img {
                width: 100%;
            }
        }

        &__text {
            margin-top: 2.153vw;
            text-align: center;
            @include navItem;
            color: #686C7C;

        }

        .active {
            margin-left: 0;
            margin-right: 0;

            img {
                width: 120%;
            }
        }

        .arrow {
            align-self: center;

            &--left {
                transform: rotate(180deg);
                margin-left: 3.472vw;
            }

            &--right {
                margin-right: 3.472vw;
            }
        }
    }
}

.payment {
    padding-top: 6.94vw;

    &__header {
        @include title;
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-left: 3.75vw;

        &--one {
            margin-top: 6.94vw;
        }

        &--reverse {
            margin-right: 3.75vw;
            margin-left: 0;
            flex-direction: row-reverse;
        }

        &--right {
            margin-right: 0;
        }

        &__img {
            img {
                width: 15.625vw;
            }

            &--width {

                img {
                    width: 29.896vw;
                }
            }
        }

        &__descr {
            @include text;
            width: 35.625vw;
            margin-left: 6.94vw;

            &--reverse {
                margin-left: 0;
                margin-right: 6.94vw;
            }

            &--width {
                width: 37.71vw;
            }
        }
    }

}

.search {

    &__container {
        display: grid;
        grid-template: 1fr / repeat(4, 1fr);
    }

    &__header {
        grid-row: 1/2;
        grid-column: 1/3;
        @include title;
        margin-bottom: 6.944vw;
    }

    &__img {
        justify-self: center;
        grid-row: 2/3;

        img {
            width: 15.625vw;
        }

        &--width {
            img {
                width: 13.737vw;
            }
        }
    }

    &__descr {
        justify-self: center;
        grid-row: 3/4;
        grid-column: 2/4;
        @include text;
        width: 35.625vw;
        text-align: center;
    }
}

.functions {
    padding-top: 9.375vw;
    &__container {
        display: flex;
        flex-direction: column;
    }

    &__header {
        @include title;
        margin-bottom: 6.597vw;
    }

    &__item {
        display: flex;
        align-items: center;
    }

    &__numb {
        transform: rotate(270deg);
        font-style: italic;
        font-weight: bold;
        font-size: 6.944vw;
        line-height: 6.944vw;
        color: rgba(104, 108, 124, 0.3);
    }
    &__img {
        margin-top: 3.472vw;
        margin-left: 3.472vw;
        img {
            width: 15.625vw;
        }
        
        &--width {
            margin-top: 0;
            margin-left: 4.6vw;
            img {
                width: 30.903vw;
            }
        }
    }

    &__text {
        margin-left: 6.944vw;
        @include text;
        width: 37.71vw;
    }

}

.plan {

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__header {
        @include title;
        margin-bottom: 10.07vw;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    &__line {
        width: 19.653vw;
        height: 0.278vw;

        &--dotted {
            width: 14.79vw;
            height: 0;
            border-bottom: 0.278vw dotted #A06AF9;
        }

        &--one {
            background: linear-gradient(90deg, #A06AF9 1.87%, #8B87FB 90.07%);
        }

        &--two {
            background: linear-gradient(90deg, #8989FB 1.87%, #74A7FD 90.07%);
        }

        &--three {
            width: 17.22vw;
            background: linear-gradient(90deg, #72A9FD 1.87%, #60C3FF 90.07%);
        }

        &--four {
            width: 6.32vw;
            background: linear-gradient(90deg, #5FC5FF 1.87%, #5FC5FF 90.07%);
        }
        
    }

    &__round {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.25vw;
        height: 1.25vw;
        background: #F1F2F2;
        border-radius: 100%;

        &--one {
            border: 0.208vw solid #A16BFA;
        }

        &--two {
            border: 0.208vw solid #8B89FC;
        }

        &--three {
            border: 0.208vw solid #74AAFE;
        }

        &--four {
            border: 0.208vw solid #60C6FF;
        }

        .plan__round {
            width: 0.278vw;
            height: 0.278vw;
            border-radius: 100%;
            border: none;

            &--one {
                background-color: #A16BFA;
            }
    
            &--two {
                background-color: #8B89FC;
            }
    
            &--three {
                background-color:#74AAFE;
            }
    
            &--four {
                background-color: #60C6FF;
            }
        }
    }

    &__text {
        margin-top: 1.39vw;
        display: flex;
        justify-content: center;

        :first-child {
            margin-left: 6.736vw;
        }
        :last-child {
            margin-right: 0;
        }
    }

    &__descr {
        @include text;
        text-align: center;
        margin-right: 6.25vw;
    }

}