@mixin navItem {
    color: $descrColor;
    font-weight: 500;
    font-size: 1.25vw;
}
@mixin title {
    color: $headerColor;
    font-weight: bold;
    font-size: 4.243vw;
    line-height: 5.07vw;
}