html {
    margin: 0;
    padding: 0;
    background: linear-gradient(200deg, #1C192D, #181A20);
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p {
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    font-size: 40px;
    margin: auto;
    letter-spacing: .3px;
}

span {
    font-style: italic;
}

.logo {
    padding: 0;
    margin: 0;
    width: 30vw;
    height: 10vh;
    background: url('logo.svg') no-repeat center center;
    background-size: contain;
}