
.header {
    max-height: 115px;
    align-self: flex-end;

    &__container {
        display: grid;
        grid-template: "left right"1fr / 1fr 1fr;
    }


    &--left {
        display: flex;
        grid-area: left;

        img {
             width: 8.264vw;
        }
    }

    &--right {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        grid-area: right;
    }

    .menu {
        &-list {
            margin: 0;
            padding: 0;
            list-style: none;

            :first-child {
                margin: 0;
            }

            &__item {
                display: inline-flex;
                margin-left: 9.03vw;

                a {
                    text-decoration: none;
                    @include navItem;
                }
            }
        }

    }

}

@media (min-width: 1440px) {
    .header {
        &--left {
            img {
                width: 119px;
            }
        }
     
        .menu {
            &-list {
               
                &__item {
                    margin-left: 130px;
    
                    a {
                        font-size: 18px;
                        line-height: 22px;
                    }
                }
            }
    
        }
    
    }
}
