@media (min-width: 1440px) {
  
    .promo {
        
        &__header {
            font-size: 60px;
            margin-top: 313px;
            line-height: 60px;
        }
    
        &__link {
            margin-top: 44px;
            font-size: 22px;
            line-height: 27px;
        }
    
        &--right {
            width: 731.53px;
            height: 795px;
        }
    }
    
    .work {
        &__header {
            font-size: 60px;
            line-height: 60px;
        }
    
        &__text {
            margin-top: 34px;
            font-size: 20px;
            line-height: 24px;
        }
    }

    .payment {
        padding-top: 100px;
    
        &__header {
            font-size: 60px;
            line-height: 60px;
        }
    
        &__item {

            margin-left: 54px;
    
            &--one {
                margin-top: 100px;
            }
    
            &--reverse {
                margin-right: 54px;
            }
    
            &__img {
                img {
                    width: 225px;
                }
    
                &--width {
    
                    img {
                        width: 430px;
                    }
                }
            }
    
            &__descr {
                font-size: 20px;
                line-height: 24px;
                width: 513px;
                margin-left: 100px;
    
                &--reverse {
                    margin-right: 100px;
                }
    
                &--width {
                    width: 543px;
                }
            }
        }
    
    }

    .search {

    &__header {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 100px;
    }

    &__img {
        img {
            width: 225px;
        }

        &--width {
            img {
                width: 197.81px;
            }
        }
    }

    &__descr {
        font-size: 20px;
        line-height: 24px;
        width: 513px;
        text-align: center;
    }
}

.functions {
    padding-top: 9.375vw;

    &__header {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 94px;
    }

    &__numb {
        font-size: 100px;
        line-height: 100px;
    }
    &__img {
        margin: 50px 0 0 50px;
        img {
            width: 225px;
        }
        
        &--width {
            margin-left: 66px;
            img {
                width: 445px;
            }
        }
    }

    &__text {
        margin-left: 100px;
        font-size: 20px;
        line-height: 24px;
        width: 543px;
    }

}

.plan {
    padding-top: 135px;

    &__header {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 140px;
    }

    &__line {
        width: 283px;
        height: 4;

        &--dotted {
            width: 213px;
            border-bottom: 4px dotted #A06AF9;
        }

        &--three {
            width: 247px;
        }

        &--four {
            width: 91px;
        }
        
    }

    &__round {
        width: 18px;
        height: 18px;
        border: 3px;

        &--one {
            border: solid #A16BFA;
        }

        &--two {
            border: solid #8B89FC;
        }

        &--three {
            border: solid #74AAFE;
        }

        &--four {
            border: solid #60C6FF;
        }

        .plan__round {
            width: 4px;
            height: 4px;
        }
    }

    &__text {
        margin-top: 20px;

        :first-child {
            margin-left: 100px;
        }
    }

    &__descr {
        font-size: 20px;
        line-height: 24px;
        margin-right: 90px;
    }

}
}
