@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'blocks/general';
@import 'blocks/footer';
@import 'blocks/header';
@import 'blocks/communication_form';
@import 'media';

* {
    font-family: Inter;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

html,
body {
    height: 100%;
}

.container {
    display: grid;
    margin: 0 auto;
    width: 83.33vw;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7.99vw 1fr 15.347vw;
    grid-template-areas:
        "header"
        "content"
        "footer";
}

.header {
    max-height: 115px;
    align-self: flex-end;

    &__container {
        display: grid;
        grid-template: "left right"1fr / 1fr 1fr;
    }


    &--left {
        display: flex;
        grid-area: left;

        img {
            width: 100%;
        }
    }

    &--right {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        grid-area: right;
    }

    .menu {
        &-list {
            margin: 0;
            padding: 0;
            list-style: none;

            :first-child {
                margin: 0;
            }

            &__item {
                display: inline-flex;
                margin-left: 9.03vw;

                a {
                    @include navItem;
                    text-decoration: none;
                }
            }
        }

    }

    .btn {
        max-height: 50px;
        background: #246BFD;
        border-radius: 3.472vw;
        font-size: 0.972vw;
        color: #FFFFFF;
        font-weight: 500;
        border: none;
        padding: 1.25vw 1.6vw;
        cursor: pointer;
    }

}

.promo {
    &__container {
        height: 100%;
    }

    &__header {
        display: flex;
        align-items: center;
        @include title;
        margin-top: 12.25vw;
    }

    &__text {
        margin-top: 5.56vw;
        @include text;
        font-size: 2.083vw;
    }
}

.history {
    padding-top: 13.89vw;
    &__header {
        @include title;
    }

    &__text {
        width: 68.264vw;
        margin-top: 3.47vw;
        @include text;
        font-size: 1.72vw;
        p {
            margin-bottom: 2.08vw;
        }

        :last-child {
            margin-bottom: 0;
        }
    }
}

.team {
    padding-top: 11.1vw;
    &__header {
        @include title;
    }

    &__member {
        width: 37.35vw;
        height: 37.35vw;
       
    }
    &__slider {
        margin-top: 6.042vw;
        display: flex;

        .wrapper-slider {
            display: flex;
            align-items: center;
            justify-content: center;

            :last-child {
                margin-right: 0;
            }

            :first-child {
                margin-left: 0;
            }
        }

        &__item {
            position: relative;
           display: flex;
        }

        &__text {
            position: absolute;
            right: 4.86vw;
            bottom: 6.25vw;
            text-align: center;
            color: #686C7C;
            @include text;

            span {
                font-size: 2.78vw;
                color: #000;
            }
        }

        .arrow {
            align-self: center;

            &--left {
                transform: rotate(180deg);
                margin-left: 3.472vw;
            }

            &--right {
                margin-right: 3.472vw;
            }
        }
    }
}



.communication {
    padding-top: 9.03vw;
    &__header {
        @include title;
        margin-bottom: 3.82vw;
    }

    &__text {
        @include text;
        font-size: 3.06vw;

        input {
            display: inline;
            border: none;
            opacity: 0.3;
            font-size: 3.06vw;
            text-decoration: underline;
        }

        &--name {
            input {
                width: 13.96vw;
            }
            
        }

        &--email {
            margin-top: 2.08vw;
            input {
                width: 18.06vw;
            }
            
        }

        &--onFocus {
            input {
                width: 100%;
            }
        }
    }

    &__btn {
        margin-top: 2.78vw;
        color: #246BFD;
        font-weight: bold;
        font-size: 1.875vw;
        border: none;
        border-bottom: 3px solid #246BFD;
        background-color: #fff;
        cursor: pointer;
    }
}

.footer {
    padding: 12.5vw 0;
    &__container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    &__logo {
        width: 8.264vw;
        grid-row: 1/2;
    }

    &__contacts {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        grid-row: 1/2;
        grid-column: 5/7;
        :last-child {
            margin-right: 0;
        }
    }

    &__link {
        margin-right: 2.08vw;
    }



    &__docs {
        margin-top: 2.85vw;
        display: flex;
        grid-row: 2/3;
        grid-column: 1/3;
        :last-child {
            margin-right: 0;
        }
    }

    &__doc {
        margin-right: 3.2vw;
        a {
            @include text;
            font-size: 0.972vw;
            text-decoration: none;
        }
    }
    &__stores {
        margin-top: 1.81vw;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        grid-row: 2/3;
        grid-column: 5/7;
        :last-child {
            margin-right: 0;
        }
    }

    &__store {
        margin-right: 0.694vw;
    }
}