@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'blocks/general';
@import 'blocks/slider';
@import 'blocks/footer';
@import 'blocks/header';
@import 'blocks/communication_form';
@import 'media';

.promo {
    &__container {
        height: 100%;
        display: grid;
        grid-template: 'left right'1fr / 5fr 7fr;
    }

    &--left {
        grid-area: left;
    }

    &__header {
        @include title;
        margin-top: 21.736vw;
    }

    &__link {
        display: block;
        margin-top: 3.056vw;
        font-weight: bold;
        font-size: 1.53vw;
        line-height: 1.875vw;
        color: #A06AF9;
        cursor: pointer;
    }

    &--right {
        width: 50.833vw;
        height: 55.21vw;
        grid-area: right;
        background: url('../image/business/promo.png') center center/cover no-repeat;

    }
}

.schedule {
    padding-top: 6.94vw;

    &__header {
        @include title;
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        align-items: center;

        &__img {
            img {
                width: 29.86vw;
            }
        }

        &__descr {
            @include text;
            width: 35.625vw;
            margin-right: 15.76vw;
        }
    }

}

.work {

    &__header {
        @include title;
    }

    &__text {
        margin-top: 2.36vw;
        color: #686C7C;
        font-size: 1.389vw;
        line-height: 1.667vw;
    }

}

.choose {
    padding-top: 6.94vw;

    &__header {
        @include title;
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-left: 3.75vw;

        &--one {
            margin-top: 6.94vw;
        }

        &--reverse {
            margin-right: 3.75vw;
            margin-left: 0;
            flex-direction: row-reverse;
        }

        &--right {
            margin-right: 0;
        }

        &__img {
            img {
                width: 30.6vw;
            }

            &--width {

                img {
                    width: 15.625vw;
                }
            }
        }

        &__descr {
            @include text;
            width: 35.625vw;
            margin-left: 6.94vw;

            &--reverse {
                margin-left: 0;
                margin-right: 6.94vw;
            }

            &--width {
                width: 37.71vw;
            }
        }
    }

}

.price {
    &__header {
        @include title;
    }

    &__text {
        @include text;

        p {
            margin: 1.39vw 0 0 0;
        }
    }

    &-wrapper {
        display: flex;
        :last-child {
            margin-right: 0;
        }
    }

    &__item {
        margin: 5vw 9.03vw 0 0;

        &__header {
            @include text;
            color: #000;
            margin: 0 0 2.43vw 0;
            span {
                font-size: 2.8vw;
                font-weight: bold;
            }
        }

        &__list {
            list-style: none;
           @include text;
           .ref {
               display: block;
               width: 18.83vw;
               font-size: 1.042vw;
           }
        
        }

        &__link {
            display: flex;
            align-items: center;
            margin: 0.7vw 0 0 0;
            .dot {
                margin-right: 0.5vw;
                width: 0.47vw;
                height: 0.47vw;
                background: #686C7C;
                border-radius: 100%;
               }
        }
    }

    &__subheader {
        margin: 2.083vw 0 0 0;
        @include title;
        font-size: 2.083vw;
    }

    &__wrap {
        margin: 2.083vw 0 0 0;
        display: flex;
        :last-child {
            margin-right: 0;
        }
    }

    &__app {
        margin-right: 7.43vw;
        &__descr {
            @include text;
        }

        &__price {
            @include text;
            color: #000;

            span {
                font-size: 2.8vw;
                font-weight: bold;
            }
        }
    }
}
